
#linksSection {
    border-radius: 5px;
    margin-left: 1%;
}

#linksSection > div {
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 4px;
    padding: 8px;
}

#linksSection > div > a {
    display: block;
    font-size: 24px;
    margin-top: 5%;
}

#parts {
    margin-bottom: 15%;
}

#parts > a {
    margin-left: 30%;
}

#headerLogotip > img {
    width: 100%;
}

h1 {
    margin-left: 9%;
    font-size: 34px;
}

#textAboutCharacters > p {
    font-size: 22px;
    margin-left: 6%;
}

#episodeDiv > div {
    border: 1px solid;
    margin-top: 2%;
    margin-bottom: 2%;
}

#sharing_roles {
    margin-left: 8%;
    margin-top: 5%;
}

#sharing_roles > p {
    font-size: 24px;
    margin-left: 5%;
}

#sharing_roles > input {
    font-size: 18px;
    padding: 7px;
    margin-left: 7%;
    border-radius: 5px;
}

#chooseReplics > div {
    margin-top: 3%;
}

#chooseReplics > div > button {
    font-size: 20px;
    padding: 6px;
}

form {
    width: 100%;
    /* display: none; */
}

form * {
    font-size: 18px;
}

#resultMessage {
    font-size: 18px;
    padding: 4px;
}

#top_of_part > div {
    border: 1px solid;
}

#buttons > button {
    font-size: 20px;
    padding: 6px;
}

#content_of_part > div {
    font-size: 22px;
    border: 2px solid;
    border-radius: 6px;
    padding: 7px;
}