
#linksSection {
    border-radius: 5px;
    margin-left: 1%;
}

#linksSection > div {
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 4px;
    padding: 8px;
}

#linksSection > div > a {
    display: block;
    font-size: 24px;
    margin-top: 5%;
    padding: 6px;
}

#parts {
    margin-bottom: 15%;
}

#parts > a {
    margin-left: 4%;
}

#headerLogotip > img {
    width: 100%;
}

h1 {
    margin-left: 9%;
    font-size: 34px;
}

#textAboutCharacters > p {
    font-size: 22px;
    margin-left: 6%;
}

#sharing_roles {
    margin-top: 5%;
    font-size: 23px;
    padding-left: 4%;
    padding-right: 3%;
    font-family: "Candara";
}

#sharing-roles > p {
    font-size: 22px;
    margin-left: 4%;
}

#textSharingRoles > p {
    font-size: 20px;
    margin-left: 5%;
    font-family: monospace;
}

#sharing_roles > input {
    font-size: 18px;
    padding: 7px;
    margin-left: 7%;
    border-radius: 5px;
    margin-bottom: 3%;
}

#numbersOfReplics > p {
    font-family: consolas;
    font-size: 20px;
}

#chooseReplics, #sharing_roles {
    border-radius: 9px;
    margin-left: 11%;
    margin-bottom: 2%;
}

#chooseReplics > div {
    margin-top: 3%;
}

#chooseReplics p {
    font-size: 23px;
    font-family: "Candara";
}

#divForButtons {
    padding: 1.5%;
}

#chooseReplics > div > div > button {
    font-size: 19px;
    padding: 9px;
}

form {
    width: 100%;
    padding: 17px;
    border-radius: 6px;
}

.hidden {
    display: none;
}

#listOfCheckboxed {
    font-size: 24px;
    margin-top: 3%;
}

form > div > div {
    font-size: 23px;
    padding: 5px;
    border: 1px solid;
    margin-bottom: 3px;
}

form button {
    font-size: 20px;
    padding: 7px;
}

#paintByRoles {
    margin-left: 36%;
    width: 23%;
    margin-top: 4%;;
}

#form2 {
    font-family: monospace;
    font-size: 10px;
}

form > label {
    font-size: 23px;
}

form > input {
    font-size: 22px;
    width: 42px;
    padding: 4px;
}

#closeForm {
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 18px;
    padding: 6px;
}

#resultMessage {
    padding: 8px;
    border-radius: 7px;
    display: none;
    margin-bottom: 2%;
}

#resultMessage > p {
    font-size: 25px;
}

#top_of_part {
    margin-left: 8%;
    margin-bottom: 1%;
}

#topText {
    padding-left: 5%;
}

#top_of_part span {
    font-size: 34px;
}

#buttons > button {
    padding: 7px;
    font-size: 23px;
}

#content_of_part {
    padding-bottom: 5%;
}

#content_of_part > * {
    margin-top: 2%;
}

#content_of_part > div {
    font-size: 23px;
    border-radius: 6px;
    padding: 20px;
}

#content_of_part > div > h4 {
    margin-top: 0;
    margin-left: 4%;
    margin-bottom: 2%;
}

#content_of_part > div > p {
    margin-bottom: 7px;
    margin-top: 0;
}

#content_of_part > div > img {
    width: 100%;
}

.paintedByTerm {
    background-color: #58D3F7;
    border: 3px solid dodgerblue;
    color: #0B0B61;
}