
#linksSection {
    border-radius: 5px;
    margin-left: 1%;
}

#linksSection > div {
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 4px;
}

#linksSection > div > a {
    display: block;
    font-size: 24px;
    margin-top: 5%;
}

#constantLinks > a {
    margin-left: 8%;
}

#parts {
    margin-bottom: 15%;
}

#parts > a {
    margin-left: 30%;
}

#headerLogotip > img {
    width: 100%;
}

 h1 {
    margin-left: 9%;
    font-size: 34px;
 }

#textAboutCharacters > p {
    font-size: 22px;
    margin-left: 6%;
}