.paintedReplicsOfAuthor {
    border-radius: 4px;
    background-image: url("../images/textures/background.jpg");
    color: mediumvioletred;
    border: 3px dashed;
}
.paintedReplicsOfHelen {
    background-image: url("../images/textures/calm_water3.jpg");
    border: 3px solid mediumblue; !important;
    color: darkmagenta;
}

.paintedReplicsOfJudy {
    background-image: url("../images/textures/mist.jpg");
    border: 3px solid mediumblue; !important;
    color: darkblue;
}

.paintedReplicsOfCassandra {
    background-image: url("../images/textures/ocean.jpg");
    border: 3px solid mediumblue; !important;
    color: darkblue;
}

.paintedReplicsOfCassandra > p {
    color: whitesmoke;
}
.paintedReplicsOfChristian {
    background-image: url("../images/textures/gold.jpg");
    border: 3px solid saddlebrown; !important;
    color: #61210B;
}
.paintedReplicsOfX-marine {
    background-image: url("../images/textures/fony_117.jpg");
    border: 3px solid #0B0B61; !important;
    color: lightcyan;
}

.paintedReplicsOfGrandma {
    background-image: url("../images/textures/pink_paper.jpg");
    border: 3px solid darkblue; !important;
    color: darkviolet;
}
.paintedReplicsOfGrandpa {
    background-color: lightsteelblue;
    color: darkblue;
}


.paintedReplicsOfJamesMcHein {
    background-color: lightblue;
    border: 3px solid darkblue; !important;
    color: darkslateblue;
}
.paintedReplicsOfWomanDevil {
    background-image: url("../images/textures/bumaga_texture_101.jpg");
    border: 3px solid firebrick; !important;
    color: black;
}
.paintedReplicsOfTortoiseMale {
    background-color: lightsteelblue;
    border: 3px solid darkblue; !important;
    color: darkblue;
}
.paintedReplicsOfTortoiseFemale {
    background-color: lightpink;
    border: 3px solid darkblue; !important;
    color: firebrick;
}
.paintedReplicsOfCatfishMale {
    background-color: gray;
    border: 3px solid darkblue; !important;
    color: darkblue;
}
.paintedReplicsOfCatfishFemale {
    background-color: lightgrey;
    border: 3px solid darkblue; !important;
    color: black;
}
.paintedReplicsOfMarineStar {
    background-color: lightblue;
    border: 3px solid darkblue; !important;
    color: blue;
}
.paintedReplicsOfCrab {
    background-color: lightgreen;
    border: 3px solid darkgreen; !important;
    color: green;
}
.paintedReplicsOfLilian {
    background-color: lightblue;
    border: 3px solid darkblue; !important;
    color: darkcyan;
}
.paintedReplicsOfMedusa {
    background-color: lightgrey;
    border: 3px solid darkslategray; !important;
    color: darkslategrey;
}
.paintedReplicsOfTimothy {
    background-color: darkslategray;
    border: 3px solid darkcyan; !important;
}

.paintedReplicsOfTimothy > * {
    color: lightyellow;
}

.paintedReplicsOfGloria {
    background-image: url("../images/textures/gold.jpg");
    color: #61210B;
    border: 3px solid saddlebrown;
}

.paintedReplicsOfRamon {
    background-image: url("../images/textures/purple-marble-background.jpg");
    color: lightyellow;
    border: 3px solid darkviolet;
}

.paintedReplicsOfCarl {
    background-color: darkblue;
    color: lightcyan;
    border: 3px solid darkblue;  !important;
}
.paintedReplicsOfMartin {
    background-color: cyan;
    color: indigo;
    border: 3px solid darkblue;  !important;
}
.paintedReplicsOfTraves {
    background-color: darkseagreen;
    color: green;
    border: 3px solid green;  !important;
}
.paintedReplicsOfStranger {
    background-color: #D0A9F5;
    color: #0B0B61;
    border: 3px solid darkred;
}

.paintedReplicsOfJessie {
    background-color: lightpink;
    color: darkviolet;
    border: 3px solid darkblue;
}

.paintedReplicsOfFakeJessie {
    background-color: lightpink;
    color: darkred;
    border: 3px solid darkblue;
}

.paintedReplicsOfKiller {
    background-color: darkslateblue;
    color: lightblue;
    border: 3px solid deepskyblue;
}

.highlightedOfHelen {
    background-color: darkviolet;
    color: lightpink;
    padding: 6px;
    text-decoration: underline;
}
.highlightedOfX-marine {
    background-color: cyan;
    color: blue;
    padding: 6px;
    text-decoration: underline;
}
.highlightedOfJudy {
    background-color: aquamarine;
    color: #0B0B61;
    padding: 6px;
    text-decoration: underline;
}

.highlightedOfCassandra {
    background-color: darkorchid;
    color: beige;
    padding: 6px;
    text-decoration: underline;
}

.highlightedOfMartin {
    background-color: darkgreen;
    color: beige;
    padding: 6px;
    text-decoration: underline;
}

.highlightedOfJoe {
    background-color: lightskyblue;
    color: lightyellow;
    padding: 6px;
    text-decoration: underline;
}

.highlightedOfCarl {
    background-color: lightsteelblue;
    color: darkblue;
    padding: 6px;
    text-decoration: underline;
}

.highlightedOfTraves {
    background-color: darkviolet;
    color: lightyellow;
    padding: 6px;
    text-decoration: underline;
}
.paintedWordsFromVocabulary_Xmarine {
    background-color: indigo;
    text-decoration: underline;
    color: aliceblue;
    padding: 4px;
}

.commonPaint {
    background-image: url("../images/textures/commonPaint.jpg");
    color: deeppink;
    border: 3px solid darkslateblue;
}