.collapsed{
        height: 0;
        overflow: hidden;
}

#prime_wrapper_div {
    border: 2px solid;
    background-image: url("../images/textures/buket.jpg");
}

#par {
    font-size: 20px;
    font-family: "Yu Gothic UI";
    border: 1px solid;
    margin-top: 2%;
}

#divInPrimary > div {
    border: 2px solid steelblue;
    border-radius: 10px;
    background-color: lightcyan;
}

@media(min-width:993px){
    #divInPrimary {
        display: flex;
        justify-content: space-between;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #divInPrimary > div {
        width: calc(50% - 15px);
    }
}

#divInPrimary > div > h2 {
    border: 1px solid darkblue;
    font-size: 24px;
}

.imageTextEnter {
    display: flex;
    /*background-image: url(../images/on_the_beginning/devil.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    /* min-height: 500px; */
    height: 0;
    padding-bottom: 97%;
}

.imageTextEnter > a {
    background-color: rgba(255,255,255,0.35);
    position: absolute;
    padding: 20px;
    text-decoration: none;
    bottom: 20px;
    left: 5%;
    right: 5%;
    font-size: 18px;
}

.imageXmarine {
    background-image: url("../images/on_the_beginning/devil.jpg");
}

.imageBlack_parody {
    background-image: url("../images/on_the_beginning/evil_eyes.jpg");
}

@media(min-width:993px){
    .image {
        width: calc(30% - 7px);
    }
    .imageTextEnter {
        border: 1px solid darkslategrey;
    }
}
.imageTextEnter > a:hover {
    background-color: #CED8F6;
    text-decoration: underline;
}
.preview {
    font-size: 18px;
    padding: 6px;
}
#enterButtons button {
    font-size: 16px;
    padding: 5px;
}

