#secondaryDiv {
    width: 100%;
    overflow: auto;
}

#secondaryDiv > div {
    float: left;
    border: 1px solid;
    margin-left: 1%;
}

#left {
    width: 16%;
}

#left > img {
    margin-top: 2%;
    margin-left: 2%;
    width: 96%;
}

#middle {
    width: 54%;
}

#middle > * {
    border: 1px solid;
    width: 96%;
    margin-left: 2%;
}

#middle > #bigImage > img {
    width: 100%;
}

#right {
    width: 24%;
}

#right > div {
    margin: 1%;
    border: 1px solid;
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
}

#preview {
    padding: 7px;
}

#explain {
    padding: 7px;
}

#right #gateImage > img {
    width: 100%;
}