.backgroundForXmarine {
    background-image: url("../images/textures/waterdrops.jpg");
}
.backgroundForBlack_parody {
    background-image: url("../images/textures/texture.jpg");
}

.previewXmarine {
    background-color: rgba(100, 120, 208, 0.2);
    color: darkblue;
}

.previewBlack_parody {
    border-color: lavender;
    color: lightsteelblue;
}

.linksSectionXmarine{
    background-color: rgba(68, 129, 146, 0.4);
    border-color: #0B0B61;
    border-width: 3px;
    border-style: solid;
}

.linksSectionBlack_parody{
    border-color: ivory;
    border-width: 3px;
    border-style: solid;
}

.linksSectionXmarine > div {
    border: 1px solid blue;
}

.linksSectionBlack_parody > div {
    background-color: cornsilk;
}

.about_characters_divXmarine * {
    color: black;
}

.about_characters_divBlack_parody * {
    color: lavenderblush;
}

.sharing_rolesXmarine > p {

}

.sharing_rolesBlack_parody > p {

}

.top_of_partXmarine {
    background-color: rgba(57, 16, 145, 0.35);
}

.topTextXmarine {
    color: navy;
}

.buttonsXmarine > button {
    background-color: blue;
    color: lightblue;
}

.buttonsBlack_parody > button {
    background-color: mediumorchid;
    color: darkviolet;
}

.topTextBlack_parody {
    color: lightpink;
}

.content_of_partXmarine > div {
    color: black;
}

.content_of_partBlack_parody > div {
    color: linen;
}

.characterReplicXmarine {
    border: 2px solid midnightblue;
}