<script type="text/template" id="left_section">
    <div id="secondaryDiv" class="row">
         <div id="left" class="col-md-1"></div>
         <div id="middle" class="col-md-7">
              <div class="col-md-8 col-md-offset-2">
                   <%=headerLogotip%>
              </div>
              <div id="bigImage" class="col-md-12">
                   <%=bigImage%>
              </div>
         </div>
         <div id="right" class="col-md-4">
              <div id="preview" class="col-md-12"><%=preview%></div>
              <div id="enterButtons" class="col-md-12">
                   <div class="col-md-5 choicePlay">X-marine</div>
                   <div class="col-md-5 choicePlay">Black parody</div>
              </div>
              <div id="enter"  class="col-md-5 col-md-offset-4">
                  <a href="#in_the_plays/<%=playsTitle%>/about_characters">
                       Click here to enter
                  </a>
              </div>
         </div>
    </div>
</script>