<script type="text/template" id="left_section">
    <div id="secondaryDiv">
        <div id="left"></div>
        <div id="middle">
            <h3> <%=header%> </h3>
            <div id="bigImage">
                <%=images[0]%>
            </div>
        </div>
        <div id="right">
            <div id="preview"><%=preview%></div>
            <div id="explain">You may open the gate and pass in them to see the plays.</div>
            <div id="forButtons">
                <div id="choicePlay">
                    <button class="choicePlay">X-marine</button>
                    <button class="choicePlay">Black parody</button>
                </div>
                <button id="openGateButton">Open gate and enter</button>
            </div>
            <div id="gateImage">
                <img src="../../images/on_the_beginning/closed_gate.jpg">
            </div>
        </div>
    </div>
</script>