<script type="text/template" id="prime_block">
    <div class="primeTemplate">
            <div class="col-md-11">
                <h2>
                    <%=header%>
                </h2>
            </div>
            <div class="col-md-12 imageTextEnter image<%=playsTitle%>">
                 <a href="#in_the_secondary/<%=playsTitle%>" class="textEnter">
                            <p class="preview">
                                <%=preview%>
                            </p>
                 </a> <!---->
            </div>
    </div>
</script>