<script type="text/template" id="prime_wrapper">
    <div class="row collapsed">
        <div class="col-md-12" id="prime_wrapper_div">
            <div class="col-md-10 col-md-offset-1" id="par">
                Для того, чтобы открыть пьесы, следует нажать на вход в одной из ячеек:
            </div>
            <div id="divInPrimary" class="col-md-10 col-md-offset-1">
                <%=Xmarine_block%>
                <%=Black_parody_block%>
            </div>
        </div>
    </div>
 </script>