<script type="text/template" id="content">
    <div class="row">
        <div class="col-md-3">
            <div id="constantLinks">
                <a href="in_the_plays/change_plays/<%=playsTitle%>">Change plays</a>
                <a href="in_the_plays/<%=playsTitle%>/about_characters">About characters</a>
            </div>
            <div id="parts"></div>
        </div>
        <div class="col-md-9">
            <div id="headerLogotip" class="col-md-7 col-md-offset-2"><%=headerLogotip%></div>
            <div id="changeable_content" class="col-md-12"><%=ready_content%></div>
        </div>
    </div>
</script>
