<script type="text/template" id="content">
    <div class="row">
        <div class="col-sm-2" id="linksSection">
            <div class="col-sm-11" id="constantLinks">
                <a href="#in_the_plays/<%=otherUrlTitle%>/about_characters">Change plays</a>
                <a href="#in_the_plays/<%=playsTitle%>/about_characters">About characters</a>
            </div>
            <div  class="col-sm-11" id="parts"></div>
        </div>
        <div class="col-sm-9">
            <div id="headerLogotip" class="col-sm-7 col-sm-offset-2"><%=headerLogotip%></div>
            <div id="changeable_content" class="col-sm-12"><%=ready_content%></div>
        </div>
    </div>
</script>