<script type="text/template" id="episode">
        <div class="col-sm-12" id="episodeDiv">
             <div class="col-sm-11" id="sharing_roles">
                 <p>Здесь можно получить информацию о рациональных способах разделения ролей между игроками.</p>
                 <input type="button" value="показать информацию">
                 <p><%=sharing_roles%></p>
             </div>
             <div class="col-sm-10 col-sm-offset-1" id="chooseReplics">
                  <button>Paint by roles</button>
                  <button>Paint by term</button>
                  <div class="col-sm-12" id="divForForms">
                      <form>
                          <div id='listOfCheckboxes'></div>
                          <button id='but'>Paint</button>
                      </form>
                      <form>
                          <label for="firstNumber">Начать раскраску с реплики №</label>
                          <input type="test" id="firstNumber">
                          <label for="numberOfEverReplic">Далее раскрашивать каждую реплику №</label>
                          <input type="test" id="numberOfEverReplic">
                          <button>Paint</button>
                      </form>
                  </div>
                  <div class="col-sm-6 col-sm-offset-3" id="resultMessage"></div>
             </div>
             <div class="col-sm-12" id="top_of_part">
                    <div class="col-sm-10" id="topText">
                        <h2>
                            <span>Part </span> 
                            <span><%=number%></span>
                            <span> </span>
                            <span><%=header%></span>
                        </h2>
                    </div>
                    <div class="col-sm-2" id='buttons'>
                        <button type='button' id='paintWordsFromVocab'>Paint words from vocabulary</button>
                        <button type='button' id='scrollBack'>◄</button>
                        <button type='button' id='fscrollFront'>►</button>
                    </div>  
             </div>
             <div class="col-sm-12" id="content_of_part"></div>
        </div>
</script>