<script type="text/template" id="episode">
        <div class="col-sm-12" id="episodeDiv">
             <div class="col-sm-9" id="sharing_roles">
                 <h3>Где можно посмотреть информацию по распределению ролей?</h3>
                 <p>Здесь можно получить информацию о рациональных способах разделения ролей между игроками. См. кнопку ниже.</p>
                 <input type="button" value="► show the information" id="showInformationButton">
                 <div class="hidden" id="textSharingRoles"><%=sharing_roles%></div>
                 <p>Так же можно получить информацию о том, в каких ролях какое количество реплик</p>
                 <input type="button" value="► show the information" id="showInformationButton2">
                 <div class="col-sm-8 col-sm-offset-2" id="numbersOfReplics"></div>
             </div>
             <div class="col-sm-9" id="chooseReplics">
                 <div class="col-sm-10 col-sm-offset-1">
                     <div class="col-sm-12">
                          <h2>Как раскрасить реплики?</h2>
                          <p>Следующие кнопки для того, чтобы открыть одну из 2-х форм, с помощью которых можно раскрасить реплики.</p>
                     </div>
                     <div class="col-sm-6 col-sm-offset-3" id="divForButtons">
                          <button class="showForm" id="regularVisForm1">Paint by roles</button>
                          <button class="showForm" id="regularVisForm2">Paint by term</button>
                     </div>
                 </div>
                  <div class="col-sm-6 col-sm-offset-3" id="divForForms">
                      <form class="col-sm-12 hidden" id="form1">
                          <div class="col-sm-7 col-sm-offset-3" style="margin-top: 5%" id='listOfCheckboxes'>
                              <%=rolesList%>
                          </div>
                          <button id='paintByRoles' type="submit">Paint</button>
                      </form>
                      <form class="col-sm-12 hidden" id="form2">
                          <label for="firstNumber">Начать раскраску с реплики №</label>
                          <input type="text" id="firstNumber" placeholder="1-4">
                          <label for="periodicNumber">Далее раскрашивать каждую реплику №</label>
                          <input type="text" id="periodicNumber" placeholder="2-4">
                          <button type="submit">Paint</button>
                      </form>
                      <button type="button" class="col-sm-5 col-sm-offset-4 hidden" id="closeForm">Close the form</button>
                  </div>
                  <div class="col-sm-4 col-sm-offset-4" id="resultMessage"></div>
             </div>
             <div class="col-sm-11" id="top_of_part">
                    <div class="col-sm-10" id="topText">
                        <h2>
                            <span>Part </span> 
                            <span><%=number%></span>
                            <span> </span>
                            <span><%=header%></span>
                        </h2>
                    </div>
                    <div class="col-sm-2" id='buttons'>
                        <button type='button' id='paintWordsFromVocab'>*</button>
                        <button type='button' class="arrow">◄</button>
                        <button type='button' class="arrow">►</button>
                    </div>  
             </div>
             <div class="col-sm-12" id="content_of_part"></div>
        </div>
</script>