<script type="text/template" id="episode">
        <div>
             <div id="sharing_roles">
                 <p>Здесь можно получить информацию о рациональных способах разделения ролей между игроками.</p>
                 <input type="button" value="показать информацию">
                 <p><%=allocation_roles%></p>
             </div>
             <div id="chooseReplics">
                  <button>Paint by roles</button>
                  <button>Paint by term</button>
                  <div id="divForForms">
                      <form>
                          <div id='listOfCheckboxes'>
                              <%=checkboxes%>
                          </div>
                          <button id='but'>Paint</button>
                      </form>
                      <form>
                          <label for="firstNumber">Начать раскраску с реплики №</label>
                          <input type="test" id="firstNumber">
                          <label for="numberOfEverReplic">Далее раскрашивать каждую реплику №</label>
                          <input type="test" id="numberOfEverReplic">
                          <button>Paint</button>
                      </form>
                  </div>
                  <div id="resultMessage"></div>
             </div>
             <div id="top_of_part">
                    <div>
                        <h2 id='headerForPart'>
                            <span>Part </span> 
                            <span><%=number%></span>
                            <span><%=header%></span>
                        </h2>
                    </div>
                    <div id='buttons'>
                        <button type='button' value='◄' id='scrollBack'></button>
                        <button type='button' value='►' id='fscrollFront'></button>
                        <button type='button' id='paintWordsFromVocab'></button>
                    </div>  
             </div>
             <div id="content_of_part"></div>
        </div>
</script>